body{
	/*background-image: url('../images/bg2.png');*/
	padding-top: 157px;
	padding-bottom: 5px;
	font-family:Verdana, Geneva, sans-serif;
}
#pageheader{
	background-image:url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	color: black;
	text-align: center;
	border-bottom: solid 1px #483D8B;
	max-height: 155px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
   
}
#headerimage{
	max-width: 150px;
}
#pageheader b{	
	text-shadow: 1px 1px 1px #2F4F4F, 0px 0px 1px #4B0082, 0px 0px 1px #2F4F4F;
	font-size: 28px;
}
#pageheader i{	
	text-shadow: 1px 1px 1px #2F4F4F, 0px 0px 1px #4B0082, 0px 0px 1px #2F4F4F;
	font-size: 23px;
}
#pagefooter{
	background-color: #008B8B;
	color: white;
	text-align: center;
	border-top: solid 1px #483D8B;
	max-height: 25px;
	overflow: hidden;
}
#pagefooter h4{	
	text-shadow: 1px 1px 1px #2F4F4F, 0px 0px 1px #4B0082, 0px 0px 1px #2F4F4F;
}
#mainpanels{
	width: 100%;
	background: white;
}
#mainpanels a{
	margin-bottom: 3%;	
	box-shadow: 2px 3px 5px #483D8B;
	background-color: #2F4F4F;
	color: white;
}
#mainpanels a img{
	width: 100%;
}
.mymodifiedbtns{
	background-color: #2F4F4F;
	color: white;
}
.mymodifiedbtns:hover{
	background-color: white;
	color: #2F4F4F;
	border-color: #2F4F4F;
}
.mymodifiedbtns:focus{
	background-color: white;
	color: #2F4F4F;
	border-color: #2F4F4F;
}
.mymodifiedpanels .panel-heading{
	background-color: #f1592a;
	color: white;
}
.mymodifiedpanels .panel-body{
	border-left: solid 1px #2F4F4F;
	border-right: solid 1px #2F4F4F;
	border-bottom: solid 1px #2F4F4F;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background: white;
}
#notificationpanel .panel-body{
	/*height: 340px;*/
}
#homeimgscrollpanel {
	width: 100%;
	border: solid 1px #483D8B;
}
.mymodifiedlistgroup a.active{
	background-color: #2F4F4F;
	color: white;
}
.mymodifiedlistgroup a.active:hover{
	background-color: #2F4F4F;
	color: white;
}
#userloginpanel{
	text-align: center;
}
#univenus a{
	text-decoration: none;
}
.mymodifiedmenus{
	background-color: #4682B4;
	color: white;
}
.hrwithtext{
	width:100%;
	text-align:center; 
	border-bottom: 1px solid #2F4F4F; 
	line-height:0.1em;
	margin:10px 0 20px;
}
.hrwithtext b{
	background:#fff; 
	padding:0 10px;
	color:maroon;
}
.waiting_ajax_load{
	display: none;
	color: #FFFFFF;
    width:100%; 
    height:2000px; 
    z-index:11; 
    position:absolute;
    top:0px;
    left:0px;
    text-align:center;
    font-family:Verdana, Geneva, sans-serif;
}
.errors{
	color:red;
}
.homepagemenus:hover, .homepagemenus:active, .homepagemenus:link{
    text-decoration: none;
}

#enrol_form
{
	font-family:Verdana, Arial, Helvetica, sans-serif !important;
	margin:20px auto !important;
	color:#000 !important;
	font-size:13px !important;
	line-height:1.75em !important;
	padding:5px !important;
	border-radius: 3px  !important;
	-webkit-border-radius:3px;	-moz-border-radius:  3px;  -khtml-border-radius: 3px;
	border:#008B8B 1px solid !important;
	border-collapse:separate !important;
}
#enrol_form tr
{
	marign:5px auto !important;
}
#enrol_form th 
{
	font-size:14px !important;
	background:#009ece !important;
	text-align:center !important;
	font-weight:bold !important;
	color: #FFF !important;
	padding:2px 3px !important;
	border:1px solid #008B8B !important;
	margin-bottom:2px !important;
}
#enrol_form label
{
	color:#000;
	font-size:13px;
	font-weight:bold;
	padding-top:3px;
}
#enrol_form span, .mendat
{
	color:#EA0000 !important;
	font-size:10px !important;
	
}
#enrol_form input[type="text"], input[type="file"], input[type="password"], #table_id input[type="text"]
{
	width:93% !important;
	height:30px !important;
	background:#fff;
	color:#000 !important;
	padding:3px !important;
	border:1px solid #008B8B !important;
	margin:3px auto !important;
	font-size:13px !important;
	font-family:Verdana, Arial, Helvetica, sans-serif !important;
	font-weight:normal !important;
	-webkit-border-radius:3px !important;	-moz-border-radius:  3px;  -khtml-border-radius: 3px;
}
#enrol_form input[type="submit"], #enrol_form input[type="reset"], #enrol_form input[type="button"], .subbtn
{
	border-radius: 3px;
	-webkit-border-radius:3px;	-moz-border-radius:  3px;  -khtml-border-radius: 3px;
	border:#008B8B 1px solid;
	color:#fff;
	padding:5px 15px;
	cursor:pointer;
	background:#008B8B;
	margin-bottom:5px;
	margin-top:5px;
}
#enrol_form input[type="submit"]:hover, #enrol_form input[type="reset"]:hover, .subbtn:hover
{	
	background:#009ece;
	border:#009ece 1px solid;
}
#enrol_form textarea {
	width:93% !important;
	height:80px !important;
	color:#000 !important;
	background:#fff !important;
	padding:2px 4px !important;
	border:1px solid #008B8B !important;
	margin-top:3px !important;
	font-size:13px !important;
	resize: none;
	-webkit-border-radius:3px;	-moz-border-radius:  3px;  -khtml-border-radius: 3px;
}
#enrol_form select, .text_max, #table_id select
{
	width:93% !important;
	height:30px !important;
	background:#fff !important;
	color:#000 !important;
	padding:3px !important;
	border:1px solid #008B8B !important;
	margin:5px auto !important;
	font-size:13px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	-webkit-border-radius:3px;	-moz-border-radius:  3px;  -khtml-border-radius: 3px;
}
#table_id
{
	font-size:13px !important;
	font-family:Verdana, Arial, Helvetica, sans-serif !important;
	color: #fff;
    text-decoration: none;
    font-weight: normal;
    line-height: 1.75em;
	margin:2px auto;
	padding:0px;
	border:1px solid #008B8B;
	border-collapse: collapse;
	border-spacing: 0;
}
#table_id th 
{
	font-size:14px;
	background:#009ece;
	text-align:center;
	font-weight:bold;
	color: #FFF;
	padding:2px 3px;
	border:1px solid #008B8B;
}
#table_id td
{
	padding:2px;
	border:1px solid #008B8B;
	color:#000;
	font-size:13px;
}
